.titulo1{ 
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; 
    font-size: 50px; 
    color: #005883;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; line-height: 26.4px;
    text-align: center;
    text-shadow: 2px 2px 5px #999;
}
.titulo2{ 
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; 
        font-size: 30px; 
        color: #005883;
        font-style: normal; 
        font-variant: normal; 
        font-weight: 700; line-height: 26.4px;
        text-align: center;
        text-shadow: 2px 2px 5px #999;
      
    }
div{
    /*border:3px solid red;*/
    /*width: 100px;*/ 
    /*height: 30px;*/
    display: inline-block;
    
    
}

nav{
    border: 10px groove #f0b429;
   /* width: 100px;*/
    /*height: 200px;*/
    display:inline;
    
}
.button-menu{
        display:inline-block;font-weight:400;color: #fff;text-decoration: none;
        text-align:center;vertical-align:middle;-webkit-user-select:none;
        -moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#f47920 !important;
        border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;
        border-radius:2rem;
        transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border-width:1;text-transform:uppercase;margin:0 auto;
        cursor:pointer;position:relative;height:44px;width:auto;}
  @media (prefers-reduced-motion:reduce){x|
  .button-menu{transition:none;}
  }
  .button-menu:hover{color:#f47920;text-decoration:none;background-color:#b3b3b3 !important;}
  .button-menu:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25);}
  .button-menu:disabled{opacity:.65;cursor:not-allowed;}
  .button-menu-block{display:block;}
  input[type=button].btn-block{width:100%;}
  @media print{
  *,::after,::before{text-shadow:none!important;box-shadow:none!important;}
  }
   @media (max-width: 768px){
   .button-menu{font-size:0.875rem;}
  }
  .button-menu:hover,.button-menu:focus,.button-menu:active{color:#fff;}
  .button-menu.button-menu-adc{background-color:#9c9c9c;}
  
    .social {
        position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
       right: 0; /* Establecemos la barra en la izquierda */
       top: 100px; /* Bajamos la barra 200px de arriba a abajo */
       z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
    }
            .social ul {
            list-style: none;
        }
             .social ul li a {
            display: inline-block;
            color:#fff;
            padding: 10px 15px;
            text-decoration: none;
            -webkit-transition:all 500ms ease;
            -o-transition:all 500ms ease;
            transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
        }
            .social ul li a:hover {
            padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
        }
        .p1{
            color: #005883;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 10PX; 
        }
.h2 {
    color: #005883;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30PX;
    }
.par{
        color: #333333;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align:left;
        font-size: 20PX;
        text-align: justify;
    }
    .subt{
        color: #005883;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align:left;
        font-size: 30PX;
        text-align: justify;
        align-content: center;

    }

    .button-submenu {
        display: inline-block;
        padding: 15px 25px;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color:#004669 ;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #666;
        width: 150pt;
      }
      
      .button-submenu:hover {background-color: #f47920}
      
      .button-submenu:active {
        background-color: #F0AD4E;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
   